.service-card
  h3
    font-weight: 500
  
  
.metal-card
  grid-column: 2/3
  grid-row: 2/3

.wood-card
  grid-column: 3/4
  grid-row: 2/3

.mechanics-card
  grid-column: 4/5
  grid-row: 2/3

.card-btn
  max-width: 10em
  text-align: center
  cursor: pointer