@media only screen and ( max-width: 90em) //1440px
  html
    font-size: 90%

  .navbar
    height: $nav-height-md
    padding: 0 15%
    .logo
      width: 4em !important
      height: 4em !important

  .content
    height: calc(100vh - #{$nav-height-md})

    .our-story-container
      height: calc(100vh - #{$nav-height-md})
      width: 100%
      grid-template-columns: 1fr 3fr

      .social-links-left
        margin-right: 0
        align-items: center

  .review
    img
      width: 130px
      height: 130px


@media only screen and ( max-width: 75em) //1200px
  html
    font-size: 85%

  .review
    img
      width: 100px
      height: 100px

  .footer
    grid-template-rows: 1fr 1fr 1fr
    grid-template-columns: 100%
    grid-template-areas: "map" "contact" "message" "copy"
    grid-row-gap: 1em

  .mapouter, .contact, .message
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    height: 100%
    padding: 2em !important

  .mapouter, .contact, .message, .footer, .copyright
    margin: 0 !important

  #gmap_canvas
    height: 350px
    width: 613px

  .copyright
    display: flex
    justify-content: center
    align-items: center
    min-width: 100%
    padding: 2em 0
    margin-top: 5em !important
    margin-bottom: 2em


@media only screen and ( max-width: 62em) //992px
  .navbar
    padding: 5%

  .navbar-logo
    flex-grow: 0 !important

  .navbar-links
    flex-grow: 1
    justify-content: flex-end
    li
      padding: 0 1.5em

  .services
    padding: 7% 10%

  .swiper-container
    width: 70%

  #gmap_canvas
    height: 300px
    width: 525px

@media only screen and ( max-width: 48em) //768px
  html
    font-size: 75%

  .navabar
    width: 100% !important

  .navbar-links
    display: none !important

  .cog
    display: flex !important
    flex-grow: 1
    justify-content: flex-end

  .content
    height: 100vh
    grid-template-rows: 1fr 2fr !important
    grid-template-columns: 100%

    .our-story-container
      height: 100%
      grid-template-columns: 1fr
      grid-template-rows: 90% 10%
      
      .social-links-left
        width: 100%
        order: 2
        padding-bottom: 5%

        .line
          display: none

        .icon-links
          flex-direction: row

          .icon-link
            transform: none !important

      .our-story-text
        height: 100%
        padding: 10% 15%

    .background
      height: 100%
      order: -1

  .quote-btn
    align-self: center
    padding: .75em 2.5em

    span
      font-size: 1.2em

  .services
    display: flex !important
    flex-direction: column
    padding: 7% 15%

  .service-card
    margin-bottom: 10%

  .swiper-container
    width: 85%

  .mapouter, .contact, .message
    width: 100%

  #gmap_canvas
    height: 250px
    width: 438px


@media only screen and (max-width: 36em) //576px
  html
    font-size: 75%

  .services
    padding: 7% 7%
  
  #gmap_canvas
    height: 200px
    width: 350px

  .copyright
    margin-bottom: 0 !important


@media only screen and (max-width: 23em) //368px
  html
    font-size: 60%

  .content
    grid-template-rows: 35% 65% !important
 
  #gmap_canvas
    height: 150px
    width: 263px