.footer
  width: 100%
  height: fit-content
  display: grid
  grid-template-rows: 90% 10%
  grid-template-columns: repeat(auto-fit, minmax(186px, 1fr))
  grid-template-areas: "map contact message" "copy copy copy" 
  padding: 7% 10%
  padding-bottom: 5%
  a
    display: flex
    align-items: center
    width: max-content
    text-decoration: none
    color: black
    margin-bottom: .25em
    &:hover
      color: $main-blue
  svg, i
    width: 1em
    color: $main-blue
    margin-right: 1em
    path
      fill: $main-blue

.map
  grid-area: map

#gmap_canvas 
  overflow: hidden
  height: 200px
  width: 350px

.contact
  grid-area: contact
  a
    text-decoration: underline

.phone, .messenger, .instagram
  display: flex
  align-items: center

.message
  grid-area: message
  h1
    margin-bottom: 1em

.map, .contact, .message
  padding: 2em
  align-items: center
  width: 100%
  height: 100%
  display: flex
  flex-direction: column

.footer-social-links-left
  display: none

.copyright
  grid-area: copy
  justify-self: center
  padding-top: 5%