input, textarea, button
  border-top: none
  border-left: none
  border-right: none
  border-bottom: 1px solid $main-blue
  font-family: $main-font
  width: 100%
  appearance: none
  margin-bottom: 1em

input[type=text]
  padding: .7em

select
  background-image: url("../../assets/arrow-down.png")
  background-size: 20px
  background-repeat: no-repeat
  background-position: 90%
  padding: .75em
  background-color: $main-blue
  color: white
  font-weight: 500
  cursor: pointer
  border: none
  font-family: $main-font
  width: 100%
  appearance: none
  margin-bottom: 1em
  &:hover
    background-color: lighten($main-blue, 5%)

textarea
  height: 100px
  padding: .7em

button
  padding: .7em
  background-color: $main-blue
  cursor: pointer
  color: white
  font-weight: 500
  width: 40%
  align-self: center
  &:hover
    background-color: lighten($main-blue, 5%)

input, textarea
  &:focus
    border-top: none
    border-left: none
    border-right: none
    border-bottom: 2px solid $main-blue