.customer-reviews
  background-color: rgb(54, 157, 252)

.swiper-container
  display: flex
  justify-content: center
  align-items: center
  width: 50%
  padding: 5em 7em

.main-wrapper
  color: rgb(255, 255, 255)
  height: fit-content

.swiper-button-next::after, .swiper-button-prev::after
  color: white

.rating-stars
  display: flex
  justify-content: center
  align-items: center
  i
    padding: .125em

.review img
  width: 150px
  height: 150px
  border-radius: 50%
  background-position: 0 0
  background-size: cover
  background-repeat: no-repeat

.img1
  background-image: url('/assets/face3.jpg')

.img2
  background-image: url('/assets/face2.jpg')

.img3
  background-image: url('/assets/face1.jpg')