.landing-page
  width: 100%
  height: fit-content
  background-color: black

main
  display: flex
  flex-direction: column

.content
  width: 100%
  display: grid
  grid-template-columns: 1fr 1fr
  max-height: calc(100%- #{$nav-height-lg})