.our-story-container
  height: 100%
  display: flex
  align-items: center
  justify-content: center
  margin-left: 34%
  flex-direction: column

.our-story-text
  width: 100%
  text-align: center
  color: rgba(255, 255, 255, 0.7)
  font-size: 1.7em

.quote-btn
  text-decoration: none
  color: rgba(0, 0, 0, .7)
  background-color: rgb(54, 157, 252)
  font-size: 1.5em
  padding: .4em 1.2em
  margin-top: 1.5em
  border-radius: 5px
  &:hover
    background-color: lighten(rgb(54, 157, 252), 5%)