.our-story-container
  height: calc(100vh - 7em)
  width: 50%
  display: grid
  grid-template-columns: 1fr 2fr

.our-story-text
  display: flex
  flex-direction: column
  padding: 2em
  align-items: center
  justify-content: center
  p
    font-family: $font-prompt
    font-size: 1.4em
    color: rgba(255, 255, 255, 0.7)

.quote-btn
  text-decoration: none
  color: rgba(0, 0, 0, .7)
  background-color: rgb(54, 157, 252)
  font-size: 1.5em
  padding: .4em 1.2em
  margin-top: 1.5em
  border-radius: 5px
  &:hover
    background-color: lighten(rgb(54, 157, 252), 5%)

.arrow-down
  position: absolute
  bottom: 10%
  left: 29%
  transform: translate(50%, 50%)
  svg
    width: 70px
    height: 70px
    fill: rgba(255, 255, 255, 0.2)
    &:hover
      fill: rgba(255, 255, 255, 0.7)