.our-story-container
  height: calc(100vh - 7em)
  width: 50%
  display: grid
  grid-template-columns: 1fr 2fr

.our-story-text
  color: rgba(255, 255, 255, .7)
  display: flex
  flex-direction: column
  padding: 2em
  align-items: flex-start
  justify-content: center

.quote-btn
  text-decoration: none
  color: rgba(255, 255, 255, 1)
  background-color: rgb(54, 157, 252)
  padding: .325em 2em
  margin-top: 3em
  border-radius: 5px
  &:hover
    background-color: lighten(rgb(54, 157, 252), 5%)